.iniciar-receita {
  bottom: 0;
  position: fixed;
}

.parent-iniciar-receita {
  background-color: #ec9673;
  height: 20px;
  margin: 0 auto;
  width: 100vw;
}

.parent-iniciar-receita button {
  background-color: #6d0e0a;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: Nunito , sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 50px;
}

.parent-iniciar-receita button:hover {
  background-color: #630a07;
  cursor: pointer;
}

.slick-prev {
  bottom: 20px;
  left: initial;
  position: absolute;
  right: 70px;
  top: initial;
}

.slick-next {
  bottom: 20px;
  left: initial;
  position: absolute;
  right: 40px;
  top: initial;
}

.carousel {
  display: flex;
  min-width: 95vw;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: start;
  width: 55vw;
}

.carousel-item img {
  width: 45vw;
}

.startButton {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.parent-details {
  overflow-x: hidden;
}

.container-details {
  align-items: center;
  background-color: #e9551b96;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container-details h1 {
  color: #6d0e0a;
  font-size: 30px;
  padding-top: 50px;
}

.container-details .recipe-photo {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px , rgba(0, 0, 0, 0.3)
    0 7px 13px -3px , rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  margin-bottom: 20px;
  padding: 5px;
  width: 25vw;
}

.icons-details {
  display: flex;
}

.recommendation {
  background-color: #e9551b96;
  padding: 0 20% 40px;
}

.recommendation img {
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
  padding: 10px;
}

.recommendation p {
  font-size: 20px;
  margin: 0;
}
