.slick-prev {
  bottom: 20px;
  left: initial;
  position: absolute;
  right: 70px;
  top: initial;
}

.slick-next {
  bottom: 20px;
  left: initial;
  position: absolute;
  right: 40px;
  top: initial;
}

.carousel {
  display: flex;
  min-width: 95vw;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: start;
  width: 55vw;
}

.carousel-item img {
  width: 15vw;
}


.item-details span {
  font-size: medium;
  font-weight: 700;
}

.item-details input {
  margin-right: 10px;
  transform: scale(1.5);
}

.video-detail {
  text-align: center;
}


.recommendation {
  margin: 5rem;
  padding: 0 10%;
}

.recommendation img {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px , rgba(0, 0, 0, 0.3)
    0 7px 13px -3px , rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  padding: 10px;
}

.recommendation p {
  font-size: 20px;
  margin: 0;
}
