.parent-header{
  overflow-x: hidden;
}

.btn-profile-search{
  border: none;
  cursor: pointer;
  margin-top: 15px;
  background-color: transparent;
  filter: invert(91%) sepia(44%) saturate(4402%) hue-rotate(294deg) brightness(107%) contrast(105%);
  margin-left: 30px;
  width: 40px !important;
  height: 40px !important;
}

.search-profile:hover{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
	animation: pulse 2s infinite;
}

.search-icon:hover{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
	animation: pulse 2s infinite;
}

.header-nav {
  display: flex;
  width: 100vw;
  height: 70px;
  justify-content: flex-start;
  background-color: #6e0e0a;
  color: #ffc3ac;
  margin-right: 20px;
  padding-left: 50px;
  position: fixed;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
