.parent-header {
  overflow-x: hidden;
}

.btn-profile-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: invert(91%) sepia(44%) saturate(4402%)
    hue-rotate(294deg) brightness(107%) contrast(105%);
  height: 40px;
  margin-left: 30px;
  margin-top: 15px;
  width: 40px;
}

.search-profile:hover {
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 0 black;
  transform: scale(1);
}

.search-icon:hover {
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 0 black;
  transform: scale(1);
}

.header-nav {
  background-color: #6e0e0a;
  color: #ffc3ac;
  display: flex;
  height: 70px;
  justify-content: flex-start;
  margin-right: 20px;
  padding-left: 50px;
  position: fixed;
  width: 100vw;
}

@keyframes pulse {

  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    transform: scale(0.95);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(0.95);
  }
}
