@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap') ;

body {
  background: whitesmoke;
  font-family: Nunito , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html {
  border: 0;
  margin: 0;
  padding: 0;
}

.parente-loading {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  transform: scale(2);
}

.loading {
  animation: is-rotating 1s infinite;
  border: 6px solid #ffc3ac;
  border-radius: 50%;
  border-top-color: #630a07;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}

.parent-details {
  overflow: hidden;
}

.container-details {
  align-items: flex-start;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 5rem;
  width: 90vw;
}

.title-detail {
  background-color: #630a07;
  color: #ffc3ac;
  margin: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100vw;
}

.item-details {
  flex: 0 1 35%;
  padding: 1.2rem;
  text-align: justify;
}

.item-details li, p, h2 {
  border: 0;
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin: 0;
  padding: 0;
}

.recipe-photo {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px , rgba(0, 0, 0, 0.3)
    0 7px 13px -3px , rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  margin-bottom: 20px;
  padding: 5px;
  width: 25vw;
}

.icons {
  margin-right: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-action {
  background-color: #6d0d0ac4;
  border: none;
  border-radius: 4px;
  bottom: 0;
  color: white;
  font-weight: 700;
  margin: 1rem;
  margin-left: 5rem;
  padding: 20px 50px;
  text-transform: uppercase;
}

.btn-action:hover {
  cursor: pointer;
  transition: 0.5s;
}

.btn-action:disabled {
  cursor: default;
  opacity: 0.6;
}

.btn-action:enabled {
  background-color: #480604;
  color: white;
}

.btn-action:hover:enabled {
  background-color: #306ea5;
  color: white;
}

/* Explore */
.parent-explore {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.item-explore {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 0;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  justify-content: center;
  margin: 1.6rem;
  padding: 1rem;
  text-decoration: none;
  width: 250px;
}

.item-explore button {
  font-size: 19px;
  border: 0;
}

.img-explore {
  border-radius: 4px;
  width: 85%;
}

.img-explore:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Card food */
.card-food {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 10px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 30%;
  z-index: 0;
}

.card-food:hover {
  background-color: #e6e6e6;
}

.card-food img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.card-food img:hover {
  opacity: 0.7;
}


.card-food a {
  text-decoration: none;
}

.card-food h3 {
  color: white;
  font-size: 2.25vw;
  left: 50%;
  position: absolute;
  text-shadow: -1px 0 black , 0 1px black , 1px 0 black , 0 -1px black;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms;
  z-index: 1;
}

.card-food h3:hover {
  color: #e3655b;
  font-size: 2.3vw;
}

.food-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Explore by ingredients */

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  justify-content: center;
}

.ingredient {
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 15px;
  width: 250px;
}

.ingredient a {
  color: black;
  text-decoration: none;
}

/* Done recipes */

.done-recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.done-recipe-card {
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin: 15px 15px;
  padding: 15px;
  width: 250px;
}

.done-recipe-card img {
  width: 100%;
  border-radius: 4px;
}

.done-recipe-card a {
  color: rgb(214, 84, 84);
  text-decoration: none;
  font-size: 18px;
}

.done-recipe-card ol {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.done-recipe-card li {
  background-color: rgb(255, 154, 154);
  border-radius: 4px;
  padding: 2px 6px;
  margin: 0 4px;
}