@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap') ;

body {
  background: whitesmoke;
  font-family: Nunito , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.parente-loading {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  transform: scale(2);
}

.loading {
  animation: is-rotating 1s infinite;
  border: 6px solid #ffc3ac;
  border-radius: 50%;
  border-top-color: #630a07;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}
