@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap') ;

.container-login-form {
  align-items: center;
  background-color: #c76c4796;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.input-group {
  position: relative;
}

.card-login {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 20px;
  width: 450px;
}

svg {
  font-size: 20px;
  left: 10px;
  position: absolute;
  top: 10px;
}

.input-button {
  border: 1px solid #656665;
  border-radius: 4px;
  font-family: Nunito , sans-serif;
}

.card-login h1 {
  font-weight: 200;
  margin-bottom: 25px;
}

.card-login input {
  margin-bottom: 15px;
  padding: 10px;
  text-indent: 25px;
  width: 250px;
}

.card-login input:focus {
  outline: 1px solid rgb(194, 194, 194);
}

.card-login button {
  background-color: rgb(189, 114, 114);
  border: none;
  font-weight: 700;
  margin-top: 25px;
  padding: 10px 90px;
}

.card-login button:hover {
  background-color: none;
  cursor: pointer;
  transition: 0.5s;
}

.card-login button:disabled {
  cursor: default;
  background-color: #dbdbdb;
}

.card-login button:hover:enabled {
  background-color: #306ea5;
  color: white;
}
