.btn-categories {
  margin-top: 80px;
  text-align: center;
}

.btn-categories button {
  background-color: rgb(76, 150, 184);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px 50px;
}

.btn-categories button:hover {
  background-color: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-categories button:disabled {
  cursor: default;
}

.btn-categories button:hover:enabled {
  background-color: #d17f79;
  color: white;
}

