.input {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.input-submit {
  background-color: #3A6EA5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 3px 80px;
}

.input-submit:hover{
  background-color: dodgerblue;
  cursor:pointer;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 200px; */
}

.login h1 {
  font-weight: 200;
  margin-bottom: 20px;
}

html, #root {
  background-color: rgba(0, 255, 255, 0.336);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border: none;
  background-color: white;
  border-radius: 20px;
  margin: 15% auto !important;
  /* margin-top: 45%; */
  max-width: 20% !important;  
  padding: 50px;
}


/* NÃO EXISTE */
/* .container-login {
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding: 200px;
} */

/* .container, .container-lg, .container-md, .container-sm {
  max-width: 20% !important;
  max-height: 50% !important;
} */